
@{
    Layout = null;
    ViewBag.Title = "Resumen";
}
@model CreadorPizzas.Models.OrdenModel

<!DOCTYPE html>
@using (Html.BeginForm())
{
    <html lang="es">
    <head>
        <title>Resumen</title>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
    </head>
    <body>
        <div class="grid-container2">
            <div class="NavBar">
                <div class="navbar navbar-expand-lg navbar-dark bg-primary" style="position:relative; top:-50px; height:100px;">
                    <h1 style="color:white;">Resumen</h1>
                </div>
            </div>
            <div class="Factura">
                <table class="table table-hover" style="font-size:1rem;">
                    <thead>
                        <tr>
                            <th scope="col">Selección</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int index = 0; index < Model.factura.Count(); index += 4)
                        {
                            <tr class="table-danger">
                                <td>@Html.DisplayFor(model => Model.factura[index])</td>
                                <td>@Html.DisplayFor(model => Model.factura[index + 1])</td>
                            </tr>
                            if ((index + 2) < Model.factura.Count())
                            {

                                <tr class="table-info">
                                    <td>@Html.DisplayFor(model => Model.factura[index + 2])</td>
                                    <td>@Html.DisplayFor(model => Model.factura[index + 3])</td>
                                </tr>

                            }

                        }
                    </tbody>
                </table>
            </div>
            <div class="Envio" style="text-align:center; position:relative; left:35%;">
                <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                    <div class="card-header" style="font-size:1.5rem;">Datos de Orden</div>
                    <div class="card-body" style="font-size:1.5rem;">
                        <label class="col-form-label">Nombre</label>
                        @Html.EditorFor(model => model.nombre, new { @style = "font-size:1.5rem;" })
                        <br />
                        <label class="col-form-label">Dirección</label>
                        @Html.EditorFor(model => model.direccion, new { @style = "font-size:1.5rem;" })
                        <br />
                        <button class="btn btn-success" style="font-size:1.5rem;">Ordenar</button>
                    </div>
                </div>
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header" style="font-size:1.5rem;">Precio Final</div>
                    <div class="card-body" style="font-size:5rem; text-align:center;">
                        ₡@Html.DisplayFor(model => model.precioFinal)
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
}


