
@{
    Layout = null;
}
@model CreadorPizzas.Models.OrdenModel
<!DOCTYPE html>
@using (Html.BeginForm())
{
    <html lang="es">
    <head>
        <title>window.name</title>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
    </head>
    <body>
        <div class="grid-container">
            <div class="NavBar">
                <div class="navbar navbar-expand-lg navbar-dark bg-primary" style="position:relative; top:-50px; height:100px;">
                    <h1 style="color:white;">Elija su tamaño y grosor de pizza favoritos</h1>
                </div>
            </div>
            <div class="Tamano">
                <div class="card text-white bg-info mb-3" style="width: auto; height:100%;">
                    <div class="card-header" style="font-size:2rem;">Tamaño:</div>
                    <div class="card-body">
                        <fieldset class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    @Html.RadioButtonFor(model => model.tamano, "Pequeña")
                                    <span style="font-size:1.5rem;">Pequeña: 6 pedazos</span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    @Html.RadioButtonFor(model => model.tamano, "Mediana")
                                    <span style="font-size:1.5rem;">Mediana: 8 pedazos</span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    @Html.RadioButtonFor(model => model.tamano, "Grande")
                                    <span style="font-size:1.5rem;">Grande: 10 pedazos</span>
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="Grosor">

                <div class="card text-white bg-danger mb-3" style="width: auto; height:100%;">
                    <div class="card-header" style="font-size:2rem;">Grosor:</div>
                    <div class="card-body">
                        <fieldset class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    @Html.RadioButtonFor(model => model.grosor, "Delgada")
                                    <span style="font-size:1.5rem;">Pasta Delgada</span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    @Html.RadioButtonFor(model => model.grosor, "Gruesa")
                                    <span style="font-size:1.5rem;">Pasta Gruesa</span>
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="ImgTam">
                <img style="height:70%; width: 100%;" src="/Img/sizes.png" />
            </div>
            <div class="ImgGrs">
                <img style="height:70%; width: 100%;" src="/Img/pasta.jpg" />
            </div>
            <div class="Btn">
                <button type="button" class="btn btn-outline-primary myBtn">Select Toppings</button>
            </div>
        </div>

    </body>
</html>
}


